{{ 'component-shadow-background.css' | asset_url | stylesheet_tag }}
<!-- don't leave blank, visible if you open the card-collapse or menu -->
<div id="shadow-background"><br/></div>
<script src="{{ 'component-shadow-background.js' | asset_url }}" defer="defer"></script>