#shopify-section-header {
  background-color: var(--background);
  position: var(--position);
  width: 100%;
  top: 0px;
  transition: transform 0.25s;
  padding: 15px 20px;
  z-index: 100;
}

.header__flex_space {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shopify-section-header svg {
  cursor: pointer;
}

#shopify-section-header svg {
  cursor: pointer;
}

#shopify-section-header .main-logo {
  display: flex;
}

#shopify-section-header .header_svg_fill_colorWhenTransparent path {
  fill: var(--icons-color-when-transparent);
}

#shopify-section-header .header_svg_fill_color button path {
  fill: var(--icons-color);
}

#shopify-section-header a svg {
  width: auto;
  height: var(--icon-size);
}