.cart-section {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(100%);
  overflow-y: auto;
  min-width: 350px;
  max-width: 75%;
  z-index: 102;
}

.cart-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.cart-body {
  min-height: calc(100vh - 420px);
}


.cart-product-raw-prices {
  margin-left: unset;
  min-width: 200px;
}

.cart-footer {
  position: sticky;
  bottom: 0;
}

.cart-footer-payment {
  width: 100%;
}
