.cart-section {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(100%);
  overflow-y: auto;
  min-width: 350px;
  max-width: 75%;
  background: #fff;
  z-index: 15;
}

.cart-header {
  margin-bottom: var(--space);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.cart-footer-payment {
    margin: 25px auto;
}

cart-section-collapse {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

